* {
    margin: 0;
    padding: 0;  
}

html, body {
    height: 100%;
    min-height: 400px;
}

body {
    color: #4a5055;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
}

#overlay {
    width: 25%;
    /* min-height: 450px; */
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 37.5%;
    z-index: 999;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
}

span[contenteditable="true"] {
    background: white;
}

span[contenteditable="false"] {
    background: gainsboro;
}

#overlay.before-click {
    width: 40%;
    left: 30%;
    top: 40%;
}

#new-event {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 4rem;
    cursor: pointer;
}

#container {
    height: calc(100% - 60px);
    text-align: center;
    box-sizing: border-box;
}

#calendar {
    margin-top: 2rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    display: inline-block;
    border-radius: 10px;
}

.users {
    margin-top: 2rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    display: inline-block;
    border-radius: 10px;
}

.users-content {
    overflow-y: scroll;
    padding-top: 5px;
    height: calc(100% - 35px);
    background-color: gainsboro;
}

.users-header {
    display: flex;
    height: 30px;
    background-color: lightslategray;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.users-header > div {
    width: 18%;
    position: relative;
}

.users-header > div.userId {
    width: 10%
}

.users-header > div > span {
    position: absolute;
    top: 2px;
}

.user {
    display: flex;
    border: 1px solid #4a5055;
    margin-top: -1px;
}

.user > div {
    width: 18%
}

.user > div.userId {
    width: 10%
}

#calendar-header {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    text-align: center;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

#calendar-days {
    height: calc(100% - 100px);
    width: 100%;
    min-width: 350px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.footer {
    height: 5%
}

ul {list-style-type: none;}

#month {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(81, 86, 93)
}

#year {
    text-align: center;
    font-size: 1rem;
    color: #a3a3a3;
}

#weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 40px;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgb(200, 200, 200);
    background-color: rgb(252, 252, 252);
}

.days {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: calc(100% - 40px);
    min-height: 250px;
}

.weekdays div {
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
}

.days div.six-rows {
    height: calc(16.6666% + 1px);
}

.days div.five-rows {
    height: calc(20% + 1px);
}

.days div.four-rows {
    height: calc(25% + 1px);
}


.days > div {
    width: calc(14.28571% + 1px);
    height: calc(16.6666% + 1px);
    text-align: right;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
    margin-left: -1px;
    margin-top: -1px;
}

.days > div:hover {
    background-color: aliceblue;
}

.days > div.today {
    background-color: #3797ff;
    color: white;
}

.days > div.today > div {
    color: rgba(81, 86, 93);
}

.days div.previous-next {
    color: lightgray;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.days div.previous-next:hover {
    background-color: rgb(252, 252, 252);
}

.days div.top {
    border-top: 1px solid rgb(200, 200, 200);
}

.days div.top-right {
    border-top: 1px solid rgb(200, 200, 200);
}

.days div.left {
    border-left: 1px solid rgb(200, 200, 200);
}

.days div.top-left {
    border-left: 1px solid rgb(200, 200, 200);
}

.days div.bottom-left {
    border-left: 1px solid rgb(200, 200, 200);
    border-bottom-left-radius: 10px;
}

.days div.bottom-right {
    border-left: 1px solid rgb(200, 200, 200);
    border-bottom-right-radius: 10px;
}

.days div.center {
    border-left: 1px solid rgb(200, 200, 200);
}

.no-click {
    pointer-events: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.just-no-select {
              user-select: none; /* Non-prefixed version, currently
              supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: lightslategray;
    padding-left: 30px;
    box-sizing: border-box;
}

.navbar > a {
    text-align: center;
    height: calc(100%);
    width: 120px;
    position: relative;
}

.navbar > a > span {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    position: absolute;
    top: 17px;
    left: 35px;
}

.navbar > a:hover {
    background-color: rgb(141, 157, 173);
}


.event {
      margin-bottom: 0.2rem;
      padding: 0.2rem 0.4rem 0.2rem 0.4rem;
      font-size: 0.8rem;
      border-radius: 4px;
      float: left;
      font-weight: 600;
      margin-right: 5px;
      box-sizing: border-box;
  }

.event.class {
    background-color: rgb(255, 202, 132);
}

.event.exam {
    background-color: rgb(255, 138, 123);
    color: white;
}

.event.flight {
    background-color: rgb(164, 229, 255);
}

#new-event-header {
    text-align: center;
}

.event-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 1.5%;
    margin: 2.5%;
}

#overlay.before-click > #type-buttons > .event-type {
    grid-template-rows: 100px;
}

#overlay.after-click > #type-buttons > .event-type {
    grid-template-rows: 40px;
}

.event-type > label.before-click {
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
}

.two-days {
    width: 200%;
    text-align: left;
}

.two-days-split {
    width: 100%;
    text-align: left;
}

.event-type > label > span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -13px;
}

.event-type > label.active {
    background-color: lightcoral;
    color: white;
    font-weight: 600;
}

.event-type > label:hover {
    background-color: rgb(255, 193, 193);
    font-weight: 600;
}

#overlay.before-click label:hover {
    background-color: lightcoral;
    color: white;
    font-weight: 600;
}

.event-type > label.active:hover {
    background-color: lightcoral;
}

form > .form-field {
    padding: 6px 20px;
}

form > .form-field > input[type="submit"] {
    margin-top: 30px;
    display: block;
    width: 100%
}

.new-user-button {
    left: 50%;
}

#new-user-overlay {
    width: 25%;
    /* min-height: 450px; */
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 37.5%;
    z-index: 999;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
}

.close-addUser {
    position: relative;
    left: 95%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}